<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{hero.name}}</h2></mat-card-title>
      <mat-card-subtitle>{{hero.universe.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Poderes</h3>
      <mat-list>
        <mat-list-item *ngFor="let power of hero.powers">
          <h3 matLine> {{power.name}} </h3>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/editar-heroi', hero.id]"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deleteHero(hero.id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>